.error {
    color: red;
    padding: 20px;
    border: 3px solid red;
    background: rgb(255, 189, 189);
    border-radius: 8px;
    font-weight: bold;
    margin: 20px 0;
}

.success {
    color: green;
    padding: 20px;
    border: 3px solid green;
    background: rgb(211, 255, 211);
    border-radius: 8px;
    font-weight: bold;
    margin: 20px 0;
}